* {
    font-family: sans-serif;
}

label {
    margin-left: 30px;
    font-weight: 700;
}

.Paid {
    background-color: rgba(50, 205, 50, 0.182);
}

.Unpaid {
    background-color: rgba(205, 50, 50, 0.182);
}

.invoicesList {
    margin: auto;
    padding: 0%;
    height: 50rem;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-table {
    max-width: 40rem;
    min-height: 28rem;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.44);
    left: 30%;
    top: 3rem;
    position: relative;
}

.table-body {
    background-color: rgba(0, 0, 0, 0.194);
    position: relative;
    padding: 30px;
}

.invoice-table {
    /* border: 1px solid black; */
    width: 40rem;
}

td {
    font-weight: 100;
    padding: 10px;
    font-size: 15px;
    margin: 10px;
    text-align: center;
}

th {
    border-bottom: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

tr {
    position: relative;
}

tr:hover {
    background-color: rgb(174, 174, 174);
}